{% extends "layout.twig" %}

{% block content %}
  <h1>Transactions in progress</h1>


    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Transaction ID#</th>
          <th>Content</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for t in transactions %}
        <tr>
          <td>{{ t.id }}</td>
          <td>{{ t.body }}</td>
          <td>{{ t.date_created|date }}</td>
        </tr>
        {% else %}
          <tr>
            <td colspan="3">No transactions queued</td>
          </tr>
        {% endfor %}        
      </tbody>
    </table>
{% endblock content %}
